h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  text-align: center;
  padding: auto;
}

#poo {
  text-align: center;
  height: 30px;
  width: 130px;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
}

#loo {
  text-align: center;
  height: 30px;
  width: 130px;
  background-color: rgb(235, 222, 128);
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
